#analyseContent .title-search-bar{
    /* outline: 1px solid black; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

#analyseContent .title-search-bar input{
    /* outline: 1px solid black; */
    padding-top: 8vh;
}

.analysis-window{
    padding: 3vh 3vw;
    /* outline: 1px solid #444; */
}

.analyse-publisher-graphs-container{
    margin-left: 2vw;
}

.analysis-window .analysis-back-button:hover{cursor: pointer;}
.analysis-window .analysis-back-button{
    outline: 1px solid #444;
    position: fixed;
    top: 12vh;
    font-size: 1.2em;
    padding: 1vh 2vw;
}

.analysis-window .analyse-current-window{
    border: 1px solid #444;
    height: 77vh;
    overflow-y: scroll;
}

.analyse-publisher-content thead{
    /* position: fixed;
    overflow: scroll;
    width: 26%; */
}

.analyse-publisher-content{
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 3vh 3vw;
}

.cdf-graph-container{
    /* outline: 1px solid black; */
    width: 40vw;
    height: 40vh;
    margin-bottom: 1vh;
    /* background-color: green; */
}

.analyse-summary-table{
    margin-top: 5vh;
}

.analyse-selection-window{
    display: flex;
    justify-content: space-evenly;
}

.summarise-button:hover{color: green; background-color: white; border: 1px solid green; cursor: pointer;}
.summarise-button{
    /* outline: 1px solid green; */
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    width: 100%;
    padding: 1vh 1vw;
    margin-top: 2vh;
    text-align: center;
    color: white;
    background-color: green;
}

#summary-file-selection-input, #summary-folder-selection-input{
/* outline: 1px solid black; */
    /* width: 80%; */
    /* margin-left: 10%; */
    margin-bottom: 1vh;
}

.folder-selection-container input{
    margin-top: 20%;
    margin-left: 50%;
}

.analyse-selection-list{
    outline: 1px solid #aaa;
    width: 30%;
    overflow-y: scroll;
    padding: 1vh 1vw;

    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
}
.analyse-selection-list::-webkit-scrollbar{width: 0px !important;}
.analyse-selection-window .empty-message{margin-top: 50%; color: #9a9a9a; text-align: center;}
#summary-empty-message{margin-top: 0;}

    .analyse-section-list-item{color: #6f80ff; text-decoration: underline;}
    .analyse-section-list-item:hover{cursor: pointer;}

    .analyse-section-list-primary-item ion-icon{margin-right: 0.5vw; font-size: 1.1em;}
    .analyse-section-list-secondary-item{
        /* outline: 1px solid #444; */
        margin-left: 10%;
    }
        .analyse-section-list-secondary-item {color: #6f80ff; text-decoration: underline;}
        .analyse-section-list-secondary-item:hover{cursor: pointer;}
        .analyse-section-list-secondary-item ion-icon{margin-right: 1vw; display: inline-block; color: #444;}


.analyse-summary-window{
    outline: 1px solid black;
    /* background-color: yellow; */
    width: 95%;
    margin-left: 2.5%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
}

#summary-back-button:hover{cursor: pointer;}
#summary-back-button{
    /* outline: 1px solid red; */
    width: 10vw;
    padding: 1vh 1vw;
    margin: 0;
}

.analyse-summary-tabs{
    /* outline: 1px solid black; */
    /* background-color: grey; */
    display: flex;
    justify-content: space-evenly;
    max-height: 2.5%;
    min-height: 2.5%;
    width: 100%;
}

.analyse-summary-tab:hover{cursor: pointer;}
.analyse-summary-tab{
    outline: 1px solid black;
    width: 50%;
    height: 100%;
    padding: 1vh 1vw;
}

.active-tab{
    background-color: black;
    color: white;
}

.summary-file-list{
    outline: 1px solid #aaa;
    overflow-y: scroll;
    padding: 1vh 1vw;
    margin-top: 2vh;
    height: 60%;
}

.analyse-summary-active-window{
    /* outline: 1px solid red; */
    /* background-color: yellow; */
    /* margin-top: 2vh; */
    padding: 2vh 2vw;
    padding-top: 0;
    min-height: 95% !important;
    max-height: 95% !important;
    overflow-y: scroll;
}

.analyse-summary-publisher-content, .analyse-summary-subscriber-content{
    /* background-color: yellow; */
    /* height: 190vh; */
}

.analyse-summary-publisher-content p, .analyse-summary-subscriber-content p{
    margin-top: 2vh;
    font-weight: 700;
}

.graph-container{
    /* outline: 1px solid black; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    min-height: 20vh;
    padding: 2vh 2vw;
    flex-wrap: wrap;
}

.graph-container .graph{
    /* outline: 1px solid black; */
    width: auto;
    height: 30vh;
    margin: 2vh 1vw;
}