.analyse-selection-window{
    display: flex;
    justify-content: space-evenly;
}

.analyse-selection-list{
    outline: 1px solid #444;
    width: 30%;
    overflow-y: scroll;
    padding: 1vh 1vw;

    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
}
.analyse-selection-list::-webkit-scrollbar{width: 0px !important;}

    .analyse-section-list-item{color: #6f80ff; text-decoration: underline;}
    .analyse-section-list-item:hover{cursor: pointer;}

    .analyse-section-list-primary-item ion-icon{margin-right: 0.5vw; font-size: 1.1em;}
    .analyse-section-list-secondary-item{
        /* outline: 1px solid #444; */
        margin-left: 10%;
    }
        .analyse-section-list-secondary-item {color: #6f80ff; text-decoration: underline;}
        .analyse-section-list-secondary-item:hover{cursor: pointer;}
        .analyse-section-list-secondary-item ion-icon{margin-right: 1vw; display: inline-block; color: #444;}