.analysis-window{
    padding: 3vh 3vw;
    /* outline: 1px solid #444; */
}

.analysis-window .analyse-current-window{
    border: 1px solid #444;
    height: 75vh;
    overflow-y: scroll;
}

.analyse-publisher-content{
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 3vh 3vw;
}

.analyse-publisher-content-table-container{
    /* outline: 1px solid red; */
}

.analyse-publisher-graphs-container{

}

.cdf-graph-container{
    width: 30vw;
    height: 30vh;
    background-color: green;
}

.analyse-summary-table{
    margin-top: 5vh;
}

.analyse-selection-window{
    display: flex;
    justify-content: space-evenly;
}

.folder-selection-container{
    display: flex;
    justify-content: center;
}

.folder-selection-container input{
    margin-top: 20%;
    margin-left: 50%;
}

.analyse-selection-list{
    outline: 1px solid #444;
    width: 30%;
    overflow-y: scroll;
    padding: 1vh 1vw;

    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
}
.analyse-selection-list::-webkit-scrollbar{width: 0px !important;}
.analyse-selection-window .empty-message{margin-top: 100%; color: #9a9a9a; text-align: center;}

    .analyse-section-list-item{color: #6f80ff; text-decoration: underline;}
    .analyse-section-list-item:hover{cursor: pointer;}

    .analyse-section-list-primary-item ion-icon{margin-right: 0.5vw; font-size: 1.1em;}
    .analyse-section-list-secondary-item{
        /* outline: 1px solid #444; */
        margin-left: 10%;
    }
        .analyse-section-list-secondary-item {color: #6f80ff; text-decoration: underline;}
        .analyse-section-list-secondary-item:hover{cursor: pointer;}
        .analyse-section-list-secondary-item ion-icon{margin-right: 1vw; display: inline-block; color: #444;}
