#error-message{
    margin-left: 20vw;
}

.title-search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-search-container input{
    /* outline: 1px solid #444; */
    max-height: 5vh;
    margin-right: 3vw;
    padding: 1vh 1vw;
}

.dropdown-reset-container{display: flex; justify-content: space-between; align-items: center; margin-top: -4vh;}

.dropdown{
    margin-left: 3vw;
    padding: 1vh 2vw;
}

.reset-button{
    border: 1px solid #444;
    border-radius: 2px;
    margin-right: 3vw;
    display: block;
    padding: 1vh 2vw;
    width: 15vw;
    text-align: center;
    color: #444;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;

    display: flex;
    align-items: center;
}

.reset-button:hover{color: white !important; text-decoration: none; background-color: #444; cursor: pointer;}

.settings::-webkit-scrollbar{width: 0 !important;}
.settings{
    outline: 1px solid #444;
    margin-top: 2vh;
    width: 96%;
    margin-left: 2%;
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: scroll;
}

.settings-column{width: 90%; margin-left: 5%; padding: 3vh 0;}

.setting{padding: 2vh 6vw; border-bottom: 1px solid #444; border-right: 1px solid #444; border-left: 1px solid #444; margin: 0; display: flex; justify-content: space-between; align-items: center;}
.create-setting{padding: 2vh 6vw; border-bottom: 1px solid #444; border-right: 1px solid #444; border-left: 1px solid #444; margin: 0; display: flex; justify-content: space-between; align-items: center;}
.search-setting{display: none;}
    .top-setting{border-top: 1px solid #444;}
    .setting input{
        border-right: none;
        box-shadow: none;
        padding-left: 1vw;
        border: none;
        border: 1px solid grey;
}

.checkmark{height: 4vh; width: 4vw; margin-right: 5vw;}
.checkmark:hover{cursor: pointer;}

#createButton:hover{cursor: pointer; color: white;}

.found-item{
    margin-bottom: 2vh;
    color: green;
}