.create-test-index{
    /* outline: 1px solid black; */
    margin-top: 3vh;
    width: 95%;
    margin-left: 2.5%;
    height: 87vh;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
}

.create-test-container{
    /* outline: 1px solid black; */
    width: 50%;
    height: 100%;
    padding: 2vh 1vw;
}

.create-test-title{
    font-size: 1.2em;
    font-weight: 500;
}

.test-list{
    outline: 1px solid #ccc;
    height: 95%;
}

.test-list-content{
    /* background-color: yellow; */
    height: 90%;
    padding: 2vh 2vw;
    overflow-y: scroll;
}
.test-list-content .empty-message{
    color: #666;
    padding-top: 20vh;
}

.test-list-folder-selection-container{
    /* background-color: yellow; */
    height: 10%;
    border-top: 1px solid #ccc;
}

#test-list-folder-selection-input{
    height: 100%;
    /* outline: 1px solid black; */
    width: 100%;
    padding-top: 3.5%;
    padding-left: 2vw;
}

.test-input-list{
    height: 90%;
    padding: 2vh 2vw;
}
.test-input-list input{
    width: 100%;
    margin-bottom: 1vh;
}

.create-test-button-container{
    height: 10%;
    padding: 2vh 2vw;
}

.create-test-button:hover{cursor: pointer; color: green; background-color: white;}
.create-test-button{
    text-align: center;
    outline: 1px solid green;
    padding: 0.5vh 1vw;
    color: white;
    background-color: green;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.emphasise{font-weight: 800;}