html{
    overflow-x: hidden;
    overflow-y: hidden;
}

.default-padding{padding: 2vh 2vw;}

.page-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.main-content{
    /* background-color: red; */
    min-width: 80%;
    max-width: 80%;
}

#popup{
    outline: 1px solid black;
    display: block;
    position: fixed;
    top: 45vh;

    background-color: white;
    padding: 3vh 3vw;

    z-index: 999;
}

#popup .topbar{
    /* outline: 1px solid black; */
    position: fixed;
    margin-left: 17%;
    margin-top: -1%;
    font-size: 1em;
}

#popup .topbar:hover{
    cursor: pointer;
}

.subtitle{font-size: 1.5em;}

.quick-section{display: flex; justify-content: space-evenly; }

.quick-create{width: 35vw; outline: 1px solid #444; height: 40vh; padding: 2vh 1vw;}
    .create-button{width: 100%; outline: 1px solid #444; display: block; padding: 1vh 1vw; margin-bottom: 2vh; color: #444; transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
    .create-button:hover{color: white; text-decoration: none; background-color: #444; cursor: pointer;}
    .quick-run{width: 35vw; outline: 1px solid #444; height: 40vh; padding: 2vh 1vw;}
    .list-wrapper{display: flex; justify-content: space-evenly; height: 80%;}
        .list-title{padding-left: 1vw; text-decoration: underline; margin-bottom: 1vh;}
        .list-item{outline: 1px solid #444; display: block; width: 90%; margin-left: 5%; margin-bottom: 1vh; padding-left: 1vw; color: #444; transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
        .list-item:hover{text-decoration: none; color: white; background-color: #444; cursor: pointer;}
        .publisher-list, .subscriber-list {outline: 1px solid #444; width: 45%; overflow: scroll; max-height: 28vh; min-height: 100%;}
        .publisher-list::-webkit-scrollbar, .subscriber-list::-webkit-scrollbar{width: 0px !important;}
        .recent-results{width: 73vw; margin-left: 3.5vw; outline: 1px solid #444; margin-top: 3vh; height: 45vh; padding: 2vh 1vw;}
    .empty-message{text-align: center; margin-top: 8vh;}
        .action-link{text-decoration: underline;}