#runContent h1{
    /* outline: 1px solid black; */
    padding-left: 2vw;
    margin-top: 3vh;
}

.file-selection-window-container{
    /* outline: 1px solid black; */
    position: fixed;
    width: 20vw;
    height: 50vh;
    left: 40%;
    top: 25%;
    z-index: 3;
    background-color: white;
    box-shadow: 0.5vh 0.5vw 1vw #ddd;
}

.file-selection-window-container .close-button-container{
    /* outline: 1px solid black; */
    width: 100%;
}

.file-selection-window-container .close-button-container ion-icon:hover{cursor: pointer;}
.file-selection-window-container .close-button-container ion-icon{
    width: 10%;
    margin-left: 90%;
}

.file-selection-window{
    /* outline: 1px solid black; */
    height: 95%;
    padding: 1vh 1vw;
}

.file-selection-window p.path-view{
    /* outline: 1px solid black; */
    border: 1px solid #aaa;
    padding: 0.5vw 1vh;
    margin-bottom: 0;
}

.file-selection-window .folder-selection-input{
    /* outline: 1px solid black; */
    width: 100%;
    font-size: 0.7em;
}

.file-selection-window .file-list-container{
    outline: 1px solid black;
    height: 65%;
    /* padding: 0.5vh 0.5vw; */
    margin-top: 3%;
    overflow-y: scroll;
}

.file-list-container .file{
    /* outline: 1px solid black; */
    width: 100%;
    margin: 0;
    margin-top: 1%;
    border-bottom: 1px solid black;
    padding: 0.5vh 0.5vw;
}

.file-selection-window .add-button:hover{color: white; background-color: #444; cursor: pointer;}
.file-selection-window .add-button{
    outline: 1px solid #444;
    height: 8%;
    color: #444;
    width: 100%;
    margin-top: 7%;
    text-align: center;
    line-height: 200%;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.run-selection-window{
    /* outline: 1px solid black; */
    width: 95%;
    margin-left: 2.5%;
    height: 89%;
    overflow-y: scroll;
}
.run-selection-window::-webkit-scrollbar{width: 0px !important;}

.process-list{
    /* outline: 1px solid black; */
    background-color: #efefef;
    height: 90%;
    padding: 2vh 2vw;
}

#runContent .process{
    /* outline: 1px solid black; */
    /* background-color: red; */
    border: 1px solid #aaa;
    border-radius: 2px;
    height: auto;
    min-height: 10%;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
}

#runContent .process .file-container{
    /* border: 1px solid #444; */
    padding-top: 1%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

#runContent .process .file-name{
    outline: 1px solid #aaa;
    padding-left: 1%;
    line-height: 3vh;
    background-color: #efefef;
}

#runContent .process .reset-button-container:hover{cursor: pointer; color: white; background-color: #444;}
#runContent .process .add-file-container:hover{cursor: pointer; color: white; background-color: #444;}
#runContent .process .reset-button-container, #runContent .process .add-file-container{
    /* outline: 1px solid black; */
    border: 1px solid #444;
    border-radius: 2px;
    width: 10%;
    text-align: center;
    max-height: 100%;
    margin-left: 1vw;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#runContent .process .reset-button-container ion-icon, .add-file-container ion-icon{
    font-size: 2em;
    /* outline: 1px solid black; */
    height: 100%;
}

.add-process-container:hover{cursor: pointer; color: #efefef; background-color: #666;}
.add-process-container{
    outline: 1px solid #666;
    margin-top: 2vh;
    font-size: 3em;
    width: 10%;
    text-align: center;
    height: 10vh;
    color: #666;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.add-process-container ion-icon{
    /* outline: 1px solid black; */
    height: 100%;
}

#runContent .start-button-container{
    /* outline: 1px solid red; */
    padding: 1vh 2vw 1vh 0;
    background-color: #efefef;
}

#runContent .start-button:hover{cursor: pointer; color: #28a745; background-color: white; border: 1px solid #28a745;}
#runContent .start-button{
    /* outline: 1px solid red; */
    width: 20%;
    margin-left: 80%;
    text-align: center;
    font-size: 2em;
    border-radius: 2px;
    background-color: #28a745;
    color: white;

    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}

.start-button.disabled{
    background-color: #ddd !important;
}

.start-button.disabled:hover{
    cursor: not-allowed !important;
}